/target
**/*.rs.bk
git-manage.toml
.DS_Store
.license_report.md
flamegraph.*
THIRDPARTY.toml
*.tar.gz
*.csv

_git_sync
git_sync.bash
git_sync.fish

*.swp
*.swo
*.vim
*.tmp
*.bak
*.backup

*.out
*.trace
*.pid
*.seed
*.env
.env.local
.env.*

*.log

.vscode/

.idea/
*.iml
